<div id="product">
  <p>
    <%= image_tag product.image %>
  </p>
  <h2>
    <%= product.name %>
  </h2>
  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>
  <div class="links">
    <%= link_to 'Show', product %>
  </div>    
</div>